@model IEnumerable<JumpStartPakistan.Domain.Entities.Event>

@{
    ViewBag.Title = "Events List";
    Layout = "~/Areas/admin/views/Shared/_Layout.cshtml";
}

<h2>Events List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>@ViewBag.msg</p>
</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Host)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAvailable)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RegisterationLink)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.Manager.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Host.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Organizer.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAvailable)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.RegisterationLink)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EventId }, new { @class="deletBtn" })
        </td>
    </tr>
}

</table>
